
{% extends "layout/mainlayout2.html" %}

{% block stylesone %}{% endblock %}
{% block scriptsone %}{% endblock %}

{% block body %}
<div class="twelve column">
    <h1>WOOF!  <span>thats an error</span></h1>
</div>
<div class="errorMessage twelve column">
	<p>Sorry, but the page you were trying to view does not exist.</p>
	<p>It looks like this was the result of either:</p>
	<ul>
	    <li>a mistyped address</li>
	    <li>an out-of-date link</li>
	</ul>
</div>

{% endblock %}

{% block stylestwo %}{% endblock %}
{% block scriptstwo %}{% endblock %}