{% extends "layout/mainlayout2.html" %}

{% block scriptsone %}
{% endblock %}


{% block stylesone %}
{% endblock %}

{% block body %}
<div class = "twelve columns">
    <div class = "twelve columns"><h1> Welcome to OFF LEASH!</h1></div>
    <div class = "twelve columns"><p>Off Leash is dog check-in service for dog owners who want to know if there are any dogs at their local dog park and what types of dog are there.</p>
    <p>The goal of Off Leash is to create the best dog playtime at dog parks by giving owners the ability to decide if their dog will fit in among the other dogs before venturing out to the dog park.</p>    
	</div>
    <br>
    <div class = "twelve columns"><a href='/'>Home</a></div>
</div>
 {% endblock %}

{% block stylestwo %}{% endblock %}
{% block scriptstwo %}{% endblock %}