{% extends "layout/mainlayout2.html" %}

{% block scriptsone %}
<script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js'></script>  
{% endblock %}


{% block stylesone %}
<link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.css' rel='stylesheet' />  
{% endblock %}

{% block body %}

<div class="twelve columns">
</div>

<div class="twelve columns mapContainer">
<div id="map">
</div>

TEST
</div>

{% endblock %}

{% block scriptstwo %}
<script src="static/js/getMap.js"></script>
{% endblock %}

{% block stylestwo %}
{% endblock %}



