body{
  padding: 0px;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/* Remove border and change up box shadow for more contrast */
  .navbar .navbar-inner {
    border: 0;
    background-color:rgba(35, 31, 32, 0.7);
    background-image:none;
    border-radius:0px; 
  }


.brand{
  font-family: CycloneInline;
  font-size: 5em;
  color:#C1D0CD;
  font-weight: lighter;
  line-height: 1;
}

/* Downsize the brand/project name a bit */
.navbar .brand{
  font-size: 5em;
  padding: 20px 20px 5px; /* Increase vertical padding to match navbar links */
  line-height:1em;
  text-shadow:none;
  color:#C1D0CD;
}

.navbar .nav {
/*margin: 20px 10px 0 0;*/
  }

/* Navbar links: increase padding for taller navbar */
.navbar .nav>li>a{
 
 padding-top: 2.45em;
 padding-right: 30px;
 padding-bottom: 30px;

 text-shadow:none;
 color:#C1D0CD; 
 font-family: Verlag;
 font-size: 1.5em;
}

.navbar .nav>li>a:hover {
 text-shadow:none;
 color:white;  
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top:25px;
}

.navbar{
  margin-bottom: 0px;

}

.dropdown-menu {
background-color:rgba(35, 31, 32, 0.7);
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
min-width: 99%;
text-align: center;
background-clip: border-box;
margin: 0;
}
.dropdown-menu>li>a {
  color:#b4c6c3;
  font-family: Gotham;
}
.navbar .nav>li>.dropdown-menu:after{
border-bottom: 6px solid rgba(35, 31, 32, 0.7);
}


.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a{
color: #ffffff;
text-decoration: none;
background-color: #031214;
/*background-image: -moz-linear-gradient(top,#333936,#333936);*/
/*background-image: -webkit-gradient(linear,0 0,0 100%,from(#333936),to(#333936));*/
/*background-image: -webkit-linear-gradient(top,#333936,#333936);*/
/*background-image: -o-linear-gradient(top,#333936,#333936);*/
background-image: linear-gradient(to bottom,#031214,#031214);
background-repeat: repeat-x;
}

.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
color: #ffffff;
background-color: #031214;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.navbar .pull-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right {
  right:auto;
}

.carousel {
  margin-bottom: 0px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel .item {
  height: 700px;
}

.carousel-inner .container{
  padding:2%;
  margin-bottom: 2%;
}

/*.carousel img {
}*/

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}

.logoCaption{
  text-align: center;
}

#LandingImage{
  position: absolute;
  width:100%;
  min-height: 700px;
}

#RecentPhotosImage{
  position: absolute;
  width:100%;
  min-height: 900px;
}

#Logo{
  width: 45%;
  margin-top:20%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#Ellipses{
  display:block;
  position: relative;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 2%;
  width: 30%;
}

#Tagline {
  font-size: 4.5em; 
  line-height: 1em;
  color:white;
  font-family: Verlag;
  font-weight: lighter;
}

#HowItWorks,#SignUp,#Welcome,#Error, #Requirements, #Contact, #Donate{
  background-color: rgb(25,34,37);
  /*padding:2%;*/
}

.sectionTitle{
font-family: Gotham;
font-size: 4em;
color: white;
margin-top: 3%;
line-height: 1;
}

.copyText{
font-family: Gotham;
font-size: 2em;
color: white;
font-weight: lighter;
}

.step{
  text-align: center;
}

.stepCaption{
  font-family: VerlagComp;
  text-transform: uppercase;
  font-size:1.15em;
  color: white;
}

.tile h2{
 font-family: Gotham;
font-size: 1.15em;
color: white; 
text-align: center;
}

.separator{
width: 100px;
text-align: center;
position: relative;
float: left;
margin-left: -2.75%;
margin-right: -7%;
}

.circle{
background-color: white;
width: 8px;
height: 8px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px; 
position: relative;
left: 45%;
margin-bottom: 150%;
margin-top: 130%;
}


#RecentPhotos{
      background: url(/static/img/RecentImagesbackground.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#Home{
      background: url(/static/img/Landingimageinstant.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.smallerLogo{
  max-width: 125px;
  margin-top: -10px;
}

.well{
  border:none;
  background-color:transparent;
  color:white;
}

label{
font-family: Gotham;
font-size: 1.15em;
color: white; 
}

input{
font-family: Gotham;
font-size: 1.15em;
/*color: white; */
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
border-color: rgba(218, 196, 108, 0.8);
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(218, 196, 108, 0.6);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(218, 196, 108, 0.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(218, 196, 108, 0.6);
}

#SignUp form{
  margin-left: -20px; 
}

#Welcome, #Error, #Requirements, #Contact, #Donate{
  padding-top: 5%;
  min-height: 1000px;/* this may not be necessary*/
}

#Welcome .copyText{
  font-size: 1.25em;
  margin-bottom:3%;
}

.errorSuggest{
  color:white;
}

/*#Requirements{
  background: url("/static/img/requirements1.jpg") no-repeat top left fixed;
      -webkit-background-size:100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
}*/

#Requirements img{ width:100%;}
#Requirements .condition{
  text-align: justify;  
}


/* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 1380px) {
      .navbar .nav>li>a {
      padding: 30px 15px;
      text-shadow: none;
      color: #C1D0CD;
      font-family: Verlag;
      font-size: 1.35em;
      padding-top: 2.75em;
      }
    }
   @media (max-width: 1260px) {
      .navbar .nav>li>a {
      padding: 30px 10px;
      text-shadow: none;
      color: #C1D0CD;
      font-family: Verlag;
      font-size: 1.25em;
      padding-top: 3em;
      }
    }
    @media (max-width: 1200px) {
      .navbar .nav>li>a {
      padding: 30px 10px;
      text-shadow: none;
      color: #C1D0CD;
      font-family: Verlag;
      font-size: 1.15em;
      padding-top: 3.25em;
      }
      .separator{display: none;}
    }

    @media (max-width: 1150px) {
      .navbar .nav>li>a {
      padding: 30px 10px;
      text-shadow: none;
      color: #C1D0CD;
      font-family: Verlag;
      font-size: 1em;
      padding-top: 3.75em;
      }

      .navbar .brand{
      font-size: 4.75 em;
      }
    }

    @media (max-width: 1050px) {
       .navbar .nav>li>a {
      padding: 22px 10px;
      text-shadow: none;
      color: #C1D0CD;
      font-family: Verlag;
      font-size: 1.15em;
      padding-top: 2.75em;
      }

      .navbar .brand{
      font-size: 4em;
      }

        #Home{
      background: url(/static/img/Landingimageinstant.jpg) no-repeat top left fixed;
      -webkit-background-size:110%;
      -moz-background-size: 110%;
      -o-background-size: 110%;
      background-size: 110%;
      }
      
    }


    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        /*height: 500px;*/
      }


    }

     @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }
      .navbar .brand{
      font-size: 3em;
      }

      #logo{
      margin-top:10%;
      }


      #tagline {
        font-size: 4em; 
        line-height: 1em;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {
        padding: 10%;
      }
      .carousel .item {
        height: 400px;
      }
      .carousel img {
        /*height: 300px;*/
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      #Home{
      background: url(/static/img/Landingimageinstant.jpg) no-repeat top left fixed;
      -webkit-background-size:190%;
      -moz-background-size: 190%;
      -o-background-size: 190%;
      background-size: 190%;
      }

        .brand{
        text-align: center;
      }

      .copyText{
        font-size: 1.25em;
      }

    }
    @media (max-width: 321px) {
      .navbar .brand{
      font-size: 2.25em;
      }

      .brand{
        text-align: center;
      }

      #Home{
      background: url(/static/img/Landingimageinstant.jpg) no-repeat top left fixed;
      -webkit-background-size:190%;
      -moz-background-size: 190%;
      -o-background-size: 190%;
      background-size: 190%;
      }
    }

@font-face {
font-family: CycloneInline;
src: url("/static/fonts/Cyclone%20Inline.otf") format("opentype");
}

@font-face {
font-family: Verlag;
src: url("/static/fonts/Verlag%20Book.otf") format("opentype");
}

@font-face {
font-family: VerlagComp;
src: url("/static/fonts/VerlagComp-Bold.otf") format("opentype");
}

@font-face {
font-family: Gotham;
src: url("/static/fonts/Gotham-Medium.otf") format("opentype");
font-weight: bold;
/*font-style: normal;*/
}

@font-face {
font-family: Gotham;
src: url("/static/fonts/Gotham-Light.otf") format("opentype");
font-weight: lighter;
/*font-style: normal;*/

}