{% extends "layout.html" %}

{% block body %}
<div id="Contact" class="carousel slide scroll">
      <div class="carousel-inner">
          <div class="container">
            <div class="row">
             
              <h1 class="sectionTitle">About</h1> 
             
              <h2 class="copyText">The Second Nature Project is service started out of NYU Interactive Telecommunications Program.</h2>
            
              <p class="copyText"><small>The goal of the project is to raise the general publics awareness to the work of Wildlife Researchers while at the same time addressing e-waste in new way.</small></p><br><br>

              <p class="copyText"><small>For more information about the project please email;<br><br>

			   team@secondatureroject.com

			   <br><br>
			  If you are a researcher interested in getting involved with the Second Nature Project please email;
			  <br><br>

			  research@secondnatureproject.com
			  
			  <br><br>
			  
            </div>
              
              
            </div><!-- /.row -->
          </div><!-- /.container -->
       </div>   
    </div>   

{% endblock %}