{% extends "/layout_error.html" %}

{% block styles %}{% endblock %}

{% block body %}

  <div id="Error" class="carousel slide scroll">
      <div class="carousel-inner">
          <div class="container">
            <div class="row">

              <h1 class="sectionTitle">Well this is unfortunate....</h1> 
            
              <h3 class="copyText"> We can't seem to find the webpage you were looking for. Sorry about that!</h3>
            <h4 class="errorSuggest">Maybe try;
	            <ul>
	                <li>checking the address you enter or link you clicked</li>
	                <li>or sending us an email about the issue.</li>
	            </ul>
	        </h4>

            {% with messages = get_flashed_messages(category_filter=["register"]) %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li class="alert">{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            </div>
            </div><!-- /.row -->
          </div><!-- /.container -->
       </div>   
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}