{% extends "layout.html" %}

{% block body %}

  <div id="Requirements" class="carousel slide scroll">
      <div class="carousel-inner">
          <div class="container">
            <div class="row">
              <div class="container">
              <img src="../static/img/Requirements.jpg">
              </div>
              <h1 class="sectionTitle">Requirements</h1> 
              
              
              <h2 class="copyText">For smartphones to be a part of the second nature project there are a few minimum requirements that they must meet.</h2>
            
              <div class="span12 conditions">

              <h2 class="copyText span12">  Condition:</h2> 
              <p class="copyText span10 offset1"><small>Donated Smartphones are expected to be gently used, but not broken. For it to be a useful tool for wildlife conservationists and researchers the phone must still power on, hold a charge, and the screen and a camera of the phone must be in good functioning condition.</small></p>

              <p class="copyText span12">  Operating System:</p> 
              <p class="copyText span10 offset1"><small>Currently the we only support Android phones running 2.3.2 or above. If your unsure of what operating system you have on your phone, you can find out by going to;<br><br>
              Settings->About this phone->System information. 
              <br><br>
            </small></p>

              <p class="copyText span12">  Data and Privacy:</p> 
              <p class="copyText span10 offset1"><small>Before sending your phones to The Second Nature we ask that you erase all the data from the phone, to keep your information private. This can be done on your phone by going to;<br><br>
              Settings->Factory Erase</small></p>

            </div>
              
              
            </div><!-- /.row -->
          </div><!-- /.container -->
       </div>   
    </div> 

{% endblock %}